.container {
  position: relative;
  z-index: 0;
}

.tracks {
  width: 100vw;
  overflow-x: hidden;
}

.train {
  display: flex;
  transition: transform 500ms ease;
}

[data-loop="true"] {
  transition: none !important;
}

.car {
  flex-shrink: 0;
  width: 100vw;
}

.dotsContainer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.dot {
  border: 2px solid white;
  border-radius: 100%;
  width: 0.75rem;
  height: 0.75rem;
  background-color: black;
  cursor: pointer;
  padding: 0;
}

.dot[data-active-dot="true"] {
  border: 2px solid black;
  background-color: white;
}

.srFeaturedTitle,
[data-sr-only="true"],
[data-sr-only="true"] * {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  white-space: nowrap;
}

.srFeaturedTitle {
}

.srList {
  margin: auto 0;
  padding: 0;
  max-height: 60vh;
  /* Should match max-height to slider items - LM */
  overflow: auto;
}

.srListItem {
  list-style-type: none;
}
